
*{
  font-family: 'Montserrat', sans-serif;

}

.nav-link:hover {
    text-decoration: underline;
    color: white !important;
}
.navbar-brand{
  padding: 0!important;
}
.navbar-brand:hover{
border-bottom: 0.2px solid rgb(0,69,75);
}
.navbar a:not(.dropdown-menu a) {
    color: white;
}

.nav-link {
    color: white !important;
}

.navbar {
    background: linear-gradient(to right, #9EC1BA 50%, rgb(0,69,75));
    margin-right: 0em;
    margin-left: 0em;
    margin-bottom: 1em;
}

.navbar a {
    cursor: pointer;
}

.sticky-top {
    top: 1em !important;
}


.container {
    margin-top: 1em !important;
}

.card-section {
    padding: 80px 0 80px;
}

.card {
    margin-bottom: 20px;
    border: none !important;
    background-image: linear-gradient(315deg, #e7bb98 0%,  #7a6656 64%);
    box-shadow: 7px 4px 13px 6px rgba(0, 0, 0, 0.29);
    overflow: hidden;
}

section {
    margin-top: 0em;
}


.fa-cart-plus {
    padding-right: 10px;
}

img:not(#shoppingCart) {
    margin: auto;
    background-color: white !important;
    padding: inherit;
}

#shoppingCart {
    width: 22px;
}

#cart {
    float: right;
    border-radius: 32px!important;
}

.badge {
    position: absolute !important;
    padding: 0 !important;
    font-size: 1em !important;
}

#hideText {
    background-color: #7a6656;
    width: 100%;
    height: 1em;
    position: fixed;
    margin-bottom: 0.2em;
    z-index: 1040;
}

#cart:active {
    transform: translateY(4px);
}

#delete:active {
    transform: translateY(4px);
}


.bounce {
    animation: bounce 2s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-13px);
    }

    60% {
        transform: translateY(-9px);
    }
}

#carrello:hover #shoppingCart {
    animation: shake 1s forwards;
}


@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

.card-img-top:hover{
    transform: scale(1.15) translateY(-6.5%);
}
#price{
    z-index: 1;
}
.mb-5{
  text-align: left;
  font-size: 1em;
  margin-top:1em!important;
}
 h2.jumbotron-heading{
  font-size: 1.3rem!important;
  font-weight: bolder;
}
 h3.jumbotron-heading{
  font-size: 1.1rem!important;
}
p.mb-0{
  font-size: 0.8rem;
}
.about_title{
    margin: -2rem 0;
    opacity: 0.3;

}
.about_p{
  text-align: left;
  margin: -2rem 1rem;
  font-size: 0.9rem;
  opacity: 0.3;
}
#image_about{
    margin-right: -3em!important;
    opacity: 0.3;
}
#image_team1, #image_team2, #image_team3{
    width: 60%!important;
    margin-top: 0!important;
    opacity:0.3;
}
.navbar-toggler, .navbar-toggler-icon{
    border-color: white!important;
  }
  .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
.hello{
  background-color: #cce0dc;
}
.dropdown{
  display: none!important;
}

.name_team{
    font-size: 1.5rem;
    margin: 1rem;
}