footer{
    width: 100%;
    background-color: #9EC1BA;
}
h5{
    font-weight: bolder!important;
    color: rgb(0,69,75)!important;

}
.p-0{
    color: white!important
}
.p-0:hover{
    text-decoration: underline;
    color: rgb(0,69,75)!important;
}
.my-5{
    margin-bottom: 0!important;
}